:root {
    --green: #198754;
}

@font-face {
    src: url("font/Lora-SemiBold.ttf");
    font-family: Lora-SemiBold;
}

@font-face {
    src: url("font/Lora-Bold.ttf");
    font-family: Lora-Bold;
}

@font-face {
    src: url("font/Lora-Regular.ttf");
    font-family: Lora-Regular;
}

#btn-close {
    width: 50px;
    height: 40px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.square {
    width: 55vw;
    height: 50vw;
    background-color: rgba(37, 114, 81, 0.06);
    border-radius: 10vw;
    transform: rotate(30deg);
    z-index: -1;
}

.small {
    width: 40vw;
    height: 40vw;
    transform: skewX(20deg);
}

.medium {
    width: 35vw;
    height: 35vw;
    transform: skewX(340deg);
}

.circle {
    width: 40vw;
    height: 40vw;
    background-color: rgba(37, 114, 81, 0.06);
    border-radius: 50%;
    transform: rotate(30deg);
    z-index: -1;

}

.title {
    font-size: 4rem;
    font-family: Lora-SemiBold !important;
}

#help {
    font-family: Lora-SemiBold !important;
}

/* .nav-item {
    font-family: Lora-Regular !important;
} */

#help-part {
    background-color: rgba(37, 114, 81, 0.06);
}

.content {
    color: gray;
    font-size: 1.1rem;
}

button, #inputPassword2 {
    font-size: 1.1rem !important;
}

.onNavBtn {
    font-size: 1rem !important;
}

.btn-signup {
    margin-left: -1rem;
}

.main-card, .navbar {
    box-shadow: 4px 4px 4px 0 rgba(37, 114, 81, 0.06), 4px 6px 20px 0 rgba(37, 114, 81, 0.06);
}

#mobile-nav {
    position: fixed;
    top: 0;
    z-index: 3;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    width: 100%;
    overflow-x: hidden;
}


.underline {
    position: absolute;
    transform: skewX(350deg);
}

.text {
    z-index: 1;
}

#underline-1 {
    width: 220px;
    height: 13px;
    bottom: 3px;
    right: 110px;
    z-index: -1;
}

#underline-2 {
    width: 150px;
    height: 13px;
    bottom: 0px;
    left: 0;
    z-index: 0;
    background-color: #FBE122;
}

#underline-3 {
    width: 300px;
    height: 13px;
    bottom: 2px;
    right: 0;
    z-index: 0;
}

#underline-4 {
    width: 125px;
    height: 13px;
    bottom: 2px;
    left: 0;
    z-index: 0;
    background-color: #448BCA;
}

#underline-5 {
    position: absolute;
    width: 60px;
    height: 5px;
    bottom: 2px;
    border-radius: 5px;
    left: 0;
    z-index: 0;
}

.hover-underline {
    position: absolute;
    width: 0px;
    height: 5px;
    bottom: 2px;
    border-radius: 5px;
    left: 0;
    z-index: 0;
    transition: 0.5s ease-in-out;
    background-color: #FBE122;
}

.outside {
    background-color: rgba(37, 114, 81, 0.06);
}

.icon {
    position: relative;
    top: 5px;
    color: gray;
    left: 10px;
}
/*carousel*/
.carousel-card{
    border-radius: 1.5rem;
}
.blur-part:hover{
    background-color: rgba(0, 0, 0, 0);
}
.blur-part{
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
}
/*Custom scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(37, 114, 81, 0.06)
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #198754;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FBE122;
}

/*test anim*/
#main-background, #live-sustainably {
    position: relative;
    left: 100px;
    transition: all 0.7s ease-out;
}

#main-content, #plant-a-tree, #save-energy {
    position: relative;
    right: 100px;
    transition: all 0.7s ease-out;
}

/*button hover*/
.full-btn:hover {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #198754;
    color: #198754;
    transition: 0.5s;
}

.outline-btn:hover {
    background-color: var(--green);
    border: 1px solid #198754;
    color: #fff;
    transition: 0.5s;
}

/*Responsive*/
#first-sec {
    margin-top: 10%;
    margin-left: 6px;
}

main>section {
    margin-left: 6px;
}
.footer-option>div:hover, .footer-option>iconify-icon:hover{
    color:#198754;
    font-weight: bold;
    cursor: pointer;
}
@media screen and (max-width: 567px) {
    #first-sec {
        margin-top: 11vh;
    }



    .content {
        font-size: 1rem;
    }

    .main-card {
        margin-top: 3rem;
    }

    .title {
        font-size: 3.15rem;
    }

    #inputPassword2, .full-btn {
        padding: 10px !important;
    }

    .full-btn {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    #offcanvasExample {
        width: 73% !important;
    }
    .group-link {
        line-height: 0.8rem;
    }

    /*relative position of all model on background*/
    .square {
        width: 55vh;
        height: 55vh;
        top: -3vh !important;
        right: -20vh !important;
    }

    .small {
        width: 60vh;
        height: 60vh;
        top: 72% !important;
        right: -0% !important;
    }

    .medium {
        width: 35vh;
        height: 35vh;
        top: 38% !important;
        right: -30% !important;
    }

    .circle {
        width: 45vh;
        height: 45vh;
    }

    .bottom {
        top: 51% !important;
        left: -10vh !important;
        width: 60vh;
        height: 60vh;
    }

    /*padding of main card of page*/
    .mobile-div {
        padding: 30px !important;
    }

    .mobile-div>p, #first-sec>div>form {
        width: 100% !important;
    }

    #first-sec>div>form {
        width: 105% !important;
    }

    /*underline position*/

    #underline-1 {
        width: 168px;
        height: 13px;
        bottom: 2px;
        left: 0px;
    }

    #underline-2 {
        width: 110px;
    }

    #underline-3 {
        width: 235px;
    }

    #underline-4 {
        top: 37px;
        width: 97px;
    }
    .group-link {
        line-height: 0.8rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    #first-sec {
        margin-top: 14vw;
    }

    .main-card {
        margin-top: 3rem;
    }

    .title {
        font-size: 3.5rem;
    }

    /*padding of main card of page*/
    .mobile-div {
        padding: 35px !important;
    }

    .mobile-div>p, #first-sec>div>form {
        width: 100% !important;
    }

    /*relative position of all model on background*/
    .square {
        width: 80vw;
        height: 80vw;
        top: -2% !important;
        right: -30% !important;
    }

    .small {
        width: 60vw;
        height: 60vw;
        top: 72% !important;
        right: -0% !important;
    }

    .medium {
        width: 50vw;
        height: 50vw;
        top: 37% !important;
        right: -30% !important;
    }

    .circle {
        width: 60vw;
        height: 60vw;
    }

    .bottom {
        top: 51% !important;
        left: -2% !important;
        width: 80vw;
        height: 80vw;
    }

    /*underline position*/

    #underline-1 {
        width: 195px;
        bottom: 2px;
        right: 27px;
    }

    #underline-2 {
        width: 125px;
    }

    #underline-3 {
        width: 275px;
    }

    #underline-4 {
        top: 40px;
        width: 105px;
    }

    .group-link {
        line-height: 0.8rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #first-sec {
        margin-top: 15vw;
    }

    .main-card {
        margin-top: 3rem;
    }

    /*relative position of all model on background*/
    .square {
        width: 80vw;
        height: 80vw;
        top: -5% !important;
        right: -30% !important;
    }

    .small {
        width: 55vw;
        height: 55vw;
        top: 72% !important;
        right: -0% !important;
    }

    .medium {
        width: 40vw;
        height: 40vw;
        top: 32% !important;
        right: -30% !important;
    }

    .circle {
        width: 55vw;
        height: 55vw;
    }

    /*underline position*/

    #underline-1 {
        width: 215px;
        bottom: 2px;
        right: 150px;
    }

    #underline-2 {
        width: 142px;
    }

    #underline-3 {
        width: 315px;
    }

    #underline-4 {
        top: 45px;
        width: 120px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    #first-sec {
        margin-top: 15%;
    }

    .title {
        font-size: 3rem;
    }

    #main-content {
        margin-top: 3vw !important;
    }

    @media screen and (max-height: 650px) {
        #first-sec {
            margin-top: 10%;
        }
    }

    /*underline position*/

    #underline-1 {
        width: 160px;
        bottom: 2px;
        right: 60px;
    }

    #underline-2 {
        width: 102px;
    }

    #underline-3 {
        width: 235px;
    }

    #underline-4 {
        top: 36px;
        width: 90px;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    #first-sec {
        margin-top: 15%;
    }

    @media screen and (max-height: 700px) {
        #first-sec {
            margin-top: 10%;
        }
    }

    #main-content {
        margin-top: 3.5vw !important;
    }

    /*underline position*/

    #underline-1 {
        width: 210px;
        bottom: 2px;
        right: 27px;
    }

    #underline-2 {
        width: 143px;
    }

    #underline-3 {
        width: 310px;
    }

    #underline-4 {
        top: 47px;
        width: 120px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1500px) {
    @media screen and (max-height: 700px) {
        #first-sec {
            margin-top: 8%;
        }
    }

    #main-content {
        margin-top: 4.5vw !important;
    }
}

@media screen and (min-width: 1500px) {

    #main-content {
        margin-top: 4.5vw !important;
    }
}